<tool-panel class="smk-offline-panel"
    v-bind="$$projectProps( 'tool-panel' )"
    v-bind:message="loading ? 'Loading ' + loading.progress + ' of ' + loading.total : null"
>
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="commands">
        <command-button class="smk-save-tiles"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'save-tiles' )"
        >Save</command-button>

        <command-button class="smk-clear-tiles"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'clear-tiles' )"
        >Clear</command-button>
    </template>

    <template v-if="viewStat">
        <div>View zoom: {{ viewStat.zoom }}</div>
    </template>

    <div v-for="t in tileStat">
        <h3>{{ t.id }}</h3>
        <div>Total tile count: {{ t.count }}</div>
        <div>Count per zoom level: <span v-for="c,z in t.zoom">{{ c }}&nbsp;at&nbsp;zoom&nbsp;{{ z }}, </span></div>
        <div>Total size of tiles: {{ t.size }} bytes</div>
        <div v-if="t.count">Avg size per tile: {{ Math.round( t.size / t.count ) }} bytes</div>    
    </div>

    <div v-for="t in vectorStat">
        <h3>{{ t.id }}</h3>
        <div>Total feature count: {{ t.count }}</div>
        <div>Total size of features: {{ t.size }} bytes</div>
        <div v-if="t.count">Avg size per feature: {{ Math.round( t.size / t.count ) }} bytes</div>    
    </div>

</tool-panel>