<tool-panel class="smk-offline-panel"
    v-bind="$$projectProps( 'tool-panel' )"
>
    <template slot="header">
        <slot></slot>
    </template>

    <template slot="commands">
        <command-button class="smk-save-tiles"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'save-tiles' )"
        >Save Tiles</command-button>

        <command-button class="smk-clear-tiles"
            v-bind:disabled="busy"
            v-on:click="$$emit( 'clear-tiles' )"
        >Clear Tiles</command-button>
    </template>

    <div v-if="loading">Loading {{ loading.progress }} of {{ loading.total }}</div>
    <div>Number of tiles stored: {{ tileStat.count }}</div>
    <div>Zoom levels: {{ Object.keys( tileStat.zoom ).sort( function ( a, b ) { return a - b } ).join( ', ' ) }}</div>
    <div>Total size of tiles: {{ tileStat.size }} bytes</div>
    <div></div>
    <template v-if="viewStat">
        <div>View zoom: {{ viewStat.zoom }}</div>
        <div>View extent: {{ viewStat.extent }}</div>
    </template>
</tool-panel>