<div class="smk-menu-button"
    v-bind:class="{
        'smk-disabled': disabled,
        'smk-icon': !!icon,
    }"
>
    <command-button class="smk-menu"
        ref="menu"
        v-bind:title="title"
        v-bind:disabled="disabled"
        v-on:click="onToggleMenu( $event )"
        v-bind:icon="icon"
    ></command-button>

    <div class="smk-backdrop" v-if="menuVisible"
        v-on:click="onBackdropClick()"
    ></div>

    <div class="smk-menu-panel" v-if="menuVisible">
        <div class="smk-tool"
            v-for="item in menuItems"
            v-on:click="onClick( item )"
            v-bind:title="item.title"
        >
            <i class="material-icons">{{ item.icon }}</i>
            <span>{{ item.title }}</span>
        </div>
    </div>
</div>