div {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
  }

.layerDisplay {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
}

li.sublayerOne {
  text-indent: 1.0em;
}
li.sublayerTwo {
  text-indent: 1.50em;
}


div.mpcmId {
  text-indent: 2em;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin: auto;
  width: 50%;
  text-align: center;
}

.linkEntry{
  width: 100%;
  text-align: center;
  width: 75%;
  float: center;

}

.mainListItem{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.05em;
}

.subListItem{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.00em;
  display: block;
  text-align: left;

}


.mpcmId{
  display: block;
  text-align: left;
  margin-top: 0.5em;

}


.layerToolButton {
  float: right
}



.subListToolButton{
  margin-top: 0.5em;
  float: center;
}