div {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
  }

.layerDisplay {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
}

li.sublayerOne {
  text-indent: 1.0em;
}
li.sublayerTwo {
  text-indent: 1.50em;
}


div.mpcmId {
  text-indent: 2em;
}