<side-panel class="smk-label-panel" v-bind:showHeader="false">
    <ul id="example-1">
        <li v-for="item in items">
          
          <div>
          <input type="text" :id="item.drawing" v-model="item.content" @mouseover="showLabelTemp" @mouseleave="removeLabelTemp" > 
          <button v-on:click="setLabel":id="item.drawing" :content="item.content" class="toolButton">Set Label</button>
          <button v-on:click="destroyLabel":id="item.drawing" :content="item.content" class="toolButton">Remove Label</button>
          </div>

        </li>
      </ul>

</side-panel>
