.smk-label {
    background-color: white;
    border: 1px solid darkgrey;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.toolButton {
    float: right;
  }


/* Media Queries */
@media (min-width: 37.5em) {
    .toolButton {
    width: auto; /* Smaller buttons on larger screens */
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }
  }