.smk-label {
    background-color: white;
    border: 1px solid darkgrey;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.smk-label-buttons{
  display: inline-block;
} 

.smk-label-shell {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.smk-label-input {
  width: 90%;
  margin: 0.3em;
  box-sizing: border-box;
}

.smk-label-toolButton{
    display: inline-block;
    padding: 0.30em 1.1em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.1em 0.0 0.3em;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #e6efff;
    background-color: #3e444d;
    text-align: center;
    transition: all 0.2s;
}

.smk-label-toolButton:hover {
    color: #202429;
    background-color: #d0e0f5;   
}


/* Media Queries */
@media (min-width: 37.5em) {
    .toolButton {
    width: auto; /* Smaller buttons on larger screens */
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    }
  }