.leaflet-control-browser-mapimageexport {display: none;}

.smk-mapimageexport-panel  {
  font-size: 14px;
}

.mapimageexportListItem{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.05em;
  }

  .mapimageexporttoolButton {
    margin: 1em;
  }

  

  .smk-mapimageexport-desc {
    display: inline-block;
    margin-left: 7px;
    margin-top: 6px;
    margin-bottom: 2px;
  }
  
  .smk-mapimageexport-dl {
    display: inline-block;
    margin-left: 7px;
    margin-top: 6px;
    margin-bottom: 2px;
  }


  .smk-mapimageexport-button-select {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #e6efff;
    background-color: #3e444d;
    text-align: center;
    transition: all 0.2s;
}

.smk-mapimageexport-button-select:hover {
    color: #202429;
    background-color: #d0e0f5;   
}


.smk-mapimageexport-submit-button {
    
  display: block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #e6efff;
  background-color: #3e444d;
  text-align: center;
  transition: all 0.2s;

  float: right;
  position: sticky;
  right: 0;
  border: 2px solid rgb(1, 2, 1);
 
}

.smk-mapimageexport-submit-button:hover {
color: #202429;
background-color: #d0e0f5;

}

.smk-mapimageexport-submit{
position: relative;

}